<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="content">
      <main class="main-content">
        <nav class="navigation">
          <a href="../index.html" class="logo"
            ><img class="logo-image" src="../media/Brand.jpg" alt="My Logo"
          /></a>
          <ul class="nav-content">
            <li><a href="../index.html">Home</a></li>
            <li><a href="../views/pricing.html">Pricing</a></li>
            <li class="active"><a href="../views/about.html">About Us</a></li>
            <!-- <li class="active"> -->
            <!-- <a href="../views/contact.html">contact Us</a> -->
            <!-- </li> -->
          </ul>
          <a
            href="javascript:void(0);"
            class="icon"
            onclick="myFunction()"
            title="menu"
            ><i class="fa fa-bars"></i
          ></a>
        </nav>
        <section class="homepage-content aboutus">
          <h1 class="aboutus-heading">About Us</h1>
          <div class="details">
            <p class="field aboutus-name"><b>Name: </b> Waseem Akram P</p>
            <p class="field aboutus-email">
              <b>Email:</b>
              <a href="mailto:waseemsvm14@gmail.com"> waseemsvm14@gmail.com</a>
            </p>
            <p class="field aboutus-company">
              <b>Current Company: </b>Maventic Innovative Solutions Pvt. Ltd.
            </p>
            <p class="field aboutus-designation">
              <b>Designation:</b> Developer
            </p>
            <p class="field aboutus-linkedin">
              <b>LinkedIn:</b>
              <a
                href="https://www.linkedin.com/in/waseem-akram-p-a989a916b/"
                target="_blank"
                >https://www.linkedin.com/in/waseem-akram-p-a989a916b/</a
              >
            </p>
            <p class="field aboutus-github">
              <b>Github Profile: </b>
              <a href="https://github.com/waseemsvm" target="_blank"
                >https://github.com/waseemsvm</a
              >
            </p>
            <p class="field aboutus-bio">
              I am a Software Developer at Maventic Innovative Solutions Pvt.
              Ltd. Graduated in 2022, I have atleast 1 year of experience in
              Developing software components. I have been working in OpenUI5
              framework and thirdparty libraries like sheetjs, jspdf, bwip-js. I
              am a keen learner and I like to develop software components.
            </p>
          </div>
        </section>
      </main>
      <footer class="homepage-footer">
        &copy;&nbsp;&nbsp;A Personal Blog Post by Waseem Akram P
      </footer>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <label for="subEmail">Email : </label>&nbsp;&nbsp;
          <div class="emailBox">
            <input
              id="subEmail"
              placeholder="example@gmail.com"
              class="subEmail"
              type="email"
            />
            <button class="subBtn" onclick="subscribeClose()">subscribe</button>
          </div>
        </div>
      </div>

      <div class="subscribe" onclick="subscribe()">
        <span class="bellIcon"></span>
      </div>
    </div>

    <script src="../scripts/app.js"></script>
    <script src="../external/all.min.js"></script>
  </body>
</html>
