<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Post</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="content">
      <main class="main-content">
        <nav class="navigation">
          <a href="../index.html" class="logo"
            ><img class="logo-image" src="../media/Brand.jpg" alt="My Logo"
          /></a>
          <ul class="nav-content">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./pricing.html">Pricing</a></li>
            <li><a href="./about.html">About Us</a></li>
            <!-- <li><a href="#">contact Us</a></li> -->
          </ul>
          <a
            href="javascript:void(0);"
            class="icon"
            onclick="myFunction()"
            title="menu"
            ><i class="fa fa-bars"></i
          ></a>
        </nav>
        <section class="homepage-content">
          <h1 class="post-heading">Use OpenUI5 for enterprise grade apps.</h1>
          <div class="post-content">
            <section class="post-main-content">
              <blockquote class="quoteblock">
                "SAPUI5 is a user interface development toolkit. <br />First
                developed by SAP in 2010 under the code name Phoenix"
              </blockquote>
              <div class="blogpost-container">
                <h2 class="">About UI5</h2>
                <figure class="blogimg">
                  <img src="../media/ui5png.png" alt="UI5image" />
                  <figcaption><b> OpenUI5</b></figcaption>
                </figure>
                <p>
                  Is a development framework that a developer would use to
                  actually build a front-end application that follows the Fiori
                  design guidelines. UI5 apps are built using HTML5, JS, XML,
                  OData and JSON. And the user interacts with that model through
                  a controller, written in JS.
                </p>
              </div>
              <div class="blogpost-container">
                <h2>Key Features</h2>
                <h3>Responsive Across Browsers and Devices</h3>
                <figure class="blogimg">
                  <img
                    src="../media/responsive_design.png"
                    alt="Responsive Design"
                  />
                  <figcaption><b>Responsive Design</b></figcaption>
                </figure>
                <p>
                  No need to worry about device specifics! UI5 apps run on
                  smartphones, tablets, and desktops. The UI controls
                  automatically adapt themselves to the capabilities of each
                  device and make the most of the available real estate.
                </p>
                <h3>Powerful Development Concepts</h3>
                <p>
                  UI5 was created by professionals for modern developers to
                  build state of the art web applications. It comes with all
                  features needed to cover most current application
                  requirements.
                </p>
                <h3>Award-Winning SAP Fiori Design in Action</h3>
                <figure class="blogimg">
                  <img src="../media/Fiori_design.png" alt="Fiori Design" />
                  <figcaption><b> Fiori Design</b></figcaption>
                </figure>
                <p>
                  UI5 applications benefit from a consistent design language and
                  predefined UX patterns across all frontend features. Use a
                  predefined theme or try our online theming tool to create a
                  custom theme.
                </p>
              </div>
              <div class="blogpost-container">
                <h2>UI5 Evolution</h2>
                <figure class="blogimg">
                  <img src="../media/ui5Evolution.png" alt="UI5 Evolution" />
                  <figcaption><b>UI5 Evolution</b></figcaption>
                </figure>
                <p>
                  UI5 evolution stands for fundamental improvements as part of
                  an ongoing effort to advance SAPUI5, to enable applications to
                  run faster, and code to become more modular. By embracing web
                  standards, asynchronous loading, and emerging technologies,
                  SAPUI5 continues to be a future-proof, enterprise-proven
                  solution. We encourage developers to actively support and
                  leverage the new capabilities.
                </p>
              </div>
            </section>
            <aside class="post-side-content">
              <div class="profile">
                <h2>Author</h2>
                <p>Waseem Akram P</p>
                <p>
                  <a href="mailto:waseemsvm14@gmail.com"
                    >waseemsvm14@gmail.com</a
                  >
                </p>
                <p>
                  <a href="https://github.com/waseemsvm"
                    >https://github.com/waseemsvm</a
                  >
                </p>
                <p>
                  <a
                    href="https://www.linkedin.com/in/waseem-akram-p-a989a916b/"
                    >https://www.linkedin.com/in/waseem-akram-p-a989a916b/</a
                  >
                </p>
              </div>
              <div class="references">
                <h2>References</h2>
                <a href="https://sdk.openui5.org/">OpenUI5 home page</a>
              </div>
            </aside>
          </div>
        </section>
      </main>
      <footer class="homepage-footer">
        &copy;&nbsp;&nbsp;A Personal Blog Post by Waseem Akram P
      </footer>

      <!-- The Modal -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <label for="subEmail">Email : </label>&nbsp;&nbsp;
          <div class="emailBox">
            <input
              id="subEmail"
              placeholder="example@gmail.com"
              class="subEmail"
              type="email"
            />
            <button class="subBtn" onclick="subscribeClose()">subscribe</button>
          </div>
        </div>
      </div>

      <div class="subscribe" onclick="subscribe()">
        <span class="bellIcon"></span>
      </div>
    </div>

    <script src="../scripts/app.js"></script>
    <script src="../external/all.min.js"></script>
  </body>
</html>
