<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PersonalBlogWebSite</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="content">
      <main class="main-content">
        <nav class="navigation">
          <a href="/index.html" class="logo"
            ><img class="logo-image" src="../media/Brand.png.jpg" alt="My Logo"
          /></a>
          <ul class="nav-content">
            <li class="active"><a href=#">Home</a></li>
            <li><a href="/views/pricing.html">Pricing</a></li>
            <li><a href="/views/about.html">About Us</a></li>
            <!-- <li><a href="/views/contact.html">contact Us</a></li> -->
          </ul>
          <a href="javascript:void(0);" class="icon" onclick="myFunction()" title="menu"><i class="fa fa-bars"></i></a>
        </nav>
        <section class="homepage-content">
          <div class="heading">
            <h1 class="main-heading">Stay Curious.</h1>
            <p class="p-main-heading">
              Discover stories, thinking and expertise from writers on any
              topic.
            </p>
          </div>
          <div class="cards">
            <div class="card">
                <p class="card-heading">Use OpenUI5 for enterprise grade apps.</p>
              <figure class="cardImage">
                <img class="cardImage-inner" src="/media/ui5png.png" alt="" />
                <figcaption class="cardCaption">
                  <a href="/views/blogPost.html"> Read More >></a>
                </figcaption>
              </figure>
            </div>
            <div class="card">
            <p class="card-heading">Use knex.js for seamless controlling of database using js.</p>
              <figure class="cardImage">
                <img class="cardImage-inner" src="/media/knex-logo.png" alt="" />
                <figcaption class="cardCaption">
                  <a href="/views/blogPost.html"> Read More >></a>
                </figcaption>
              </figure>
            </div>            
            <div class="card">
              <figure class="cardImage">
                <img class="cardImage-inner" src="/media/ui5png.png" alt="" />
                <figcaption class="cardCaption">
                  <a href="/views/blogPost.html"> Read More >></a>
                </figcaption>
              </figure>
            </div>
            <div class="card">
              <figure class="cardImage">
                <img class="cardImage-inner" src="/media/knex-logo.png" alt="" />
                <figcaption class="cardCaption">
                  <a href="/views/blogPost.html"> Read More >></a>
                </figcaption>
              </figure>
            </div>            
            <div class="card">
              <figure class="cardImage">
                <img class="cardImage-inner" src="/media/ui5png.png" alt="" />
                <figcaption class="cardCaption">
                  <a href="/views/blogPost.html"> Read More >></a>
                </figcaption>
              </figure>
            </div>
            <div class="card">
              <figure class="cardImage">
                <img class="cardImage-inner" src="/media/knex-logo.png" alt="" />
                <figcaption class="cardCaption">
                  <a href="/views/blogPost.html"> Read More >></a>
                </figcaption>
              </figure>
            </div>            
          </div>
          <!-- <div class="cards-pagination">
            <button id="prev-btn" class="pagination-btn">Previous</button>
            <button id="next-btn" class="pagination-btn">Next</button>
          </div> -->
          <div class="cards-pagination">
            <button class="pagination-btn">Load More ..</button>
          </div>
        </section>
      </main>
      <footer class="homepage-footer">
        &copy;&nbsp;&nbsp;A Personal Blog Post by Waseem Akram P
      </footer>
    </div>
    <script src="../scripts/app.js"></script>
    <script src="../external/all.min.js"></script>
  </body>
</html>
