<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing</title>
    <link rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="content">
      <main class="main-content">
        <nav class="navigation">
          <a href="../index.html" class="logo"
            ><img class="logo-image" src="../media/Brand.png.jpg" alt="My Logo"
          /></a>
          <ul class="nav-content">
            <li><a href="../index.html">Home</a></li>
            <li class="active"><a href="../views/pricing.html">Pricing</a></li>
            <li><a href="../views/about.html">About Us</a></li>
            <!-- <li><a href="../views/contact.html">contact Us</a></li> -->
          </ul>
          <a
            href="javascript:void(0);"
            class="icon"
            onclick="myFunction()"
            title="menu"
            ><i class="fa fa-bars"></i
          ></a>
        </nav>
        <section class="homepage-content">
          <div class="heading">
            <h1 class="main-heading">Choose your membership.</h1>
            <p class="p-main-heading">
              We have best pricing available for you.
            </p>
          </div>
          <div class="cards pricing">
            <div class="card">
              <div class="headers">
                <h2 class="pricing-header">Free Plan</h2>
                <h2 class="pricing-price"><del>$10</del>$0</h2>
              </div>
              <ul class="pricing-features">
                <li>Lorem ipsum dolor, sit amet</li>
                <li>consectetur adipisicing elit.</li>
                <li>Eius atque hic recusandae dignissimos,</li>
              </ul>
              <button class="select-plan-btn">Select Plan</button>
            </div>
            <div class="card">
              <div class="headers">
                <h3 class="pricing-header">Silver Plan</h3>
                <h3 class="pricing-price"><del>$50</del> $25</h3>
              </div>
              <ul class="pricing-features">
                <li>Lorem ipsum dolor, sit amet</li>
                <li>consectetur adipisicing elit.</li>
                <li>Eius atque hic recusandae dignissimos,</li>
              </ul>
              <button class="select-plan-btn">Select Plan</button>
            </div>
            <div class="card">
              <div class="headers">
                <h3 class="pricing-header">Gold Plan</h3>
                <h3 class="pricing-price"><del>$100</del>$75</h3>
              </div>
              <ul class="pricing-features">
                <li>Lorem ipsum dolor, sit amet</li>
                <li>consectetur adipisicing elit.</li>
                <li>Eius atque hic recusandae dignissimos,</li>
              </ul>
              <button class="select-plan-btn">Select Plan</button>
            </div>
          </div>
        </section>
      </main>
      <footer class="homepage-footer">
        &copy;&nbsp;&nbsp;A Personal Blog Post by Waseem Akram P
      </footer>
    </div>

    <script src="../scripts/app.js"></script>
    <script src="../external/all.min.js"></script>
  </body>
</html>
